.word {
  background-color: white;
  border: 1px solid lightgray;
  padding: 3px;
  display: table-cell;
  margin: 3px;
  cursor: pointer;
  box-shadow: 2px 1px gray;
}

.refrain {
  background-color: lightyellow!important;
  border: 2px solid black!important;
}

.stanza {
  border: 2px solid gray;
  background-color: gainsboro;
  padding: 0px;
  margin-top: 5px;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

.sline{
  display: flex;
  flex-wrap: wrap;
}

.settings {
  border: 2px solid gray;
  background-color: gainsboro;
  padding: 0px;
  margin-top: 5px;

}

#main {
  padding: 10px;
  display: flex;
}

.panel {
  display: table-cell;
  margin-right: 20px;
  padding: 10px;
  border: 2px dotted gray;
  background-color: lightcoral;
  border-radius: 10px;
  box-shadow: 2px 4px gray;
  resize: both;
  overflow: auto;

}

.menu {
  display: table-cell;
  position: fixed;
  right: 10;
  top: 10;
  padding: 10px;
  border: 2px dotted gray;
  background-color: lightcoral;
  border-radius: 10px;
  box-shadow: 2px 4px gray;
  resize: both;
  overflow: auto;

}

.meta {
  background-color: lightgray;
}


